# Ignore files that are created by a build.
# For example objects and archives.
*.[oa]

# Directories
autom4te.cache
.deps

# Single files.
Makefile
config.h
config.log
config.status
dgawk
gawk
pgawk
stamp-h1
libtool

test/fmtspcl.ok
